{% partialdef buttons %}
    {% block action_btns %}
        <section>
            <button type="button">Other action</button>
        </section>
    {% endblock %}
{% endpartialdef %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django partial extends bug</title>
</head>
<body>
    <form>
        <section>
            {% partialdef buttons_inline inline %}
                {% block action_btns_inline %}
                    <section>
                        <button type="button">Save</button>
                        <button type="button">Submit</button>
                    </section>
                {% endblock %}
            {% endpartialdef %}
            {% partial buttons %}
        </section>
        <p>Something else here</p>
        {% partial buttons_inline %}
        {% partial buttons %}
    </form>
</body>
</html>